<%- include('header.ejs') %>

<h1>NODEPOP</h1>

<% if (session.userId) { %>  <!-- Verifica si el usuario está logueado -->

  <!-- Filtros -->
  <form method="get" action="/">
    <label for="name">Nombre del producto:</label>
    <input type="text" name="name" value="<%= searchParams.name %>">
    
    <label for="priceMin">Precio mínimo:</label>
    <input type="number" name="priceMin" value="<%= searchParams.priceMin %>">
    
    <label for="priceMax">Precio máximo:</label>
    <input type="number" name="priceMax" value="<%= searchParams.priceMax %>">
    
    <label for="tag">Tag:</label>
    <select name="tag">
      <option value="">Selecciona un tag</option>
      <option value="work" <%= searchParams.tag === 'work' ? 'selected' : '' %>>Work</option>
      <option value="lifestyle" <%= searchParams.tag === 'lifestyle' ? 'selected' : '' %>>Lifestyle</option>
      <option value="motor" <%= searchParams.tag === 'motor' ? 'selected' : '' %>>Motor</option>
      <option value="mobile" <%= searchParams.tag === 'mobile' ? 'selected' : '' %>>Mobile</option>
    </select>
    
    <button type="submit">Filtrar</button>
  </form>

  <!-- Productos -->
  <div>
    <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
          <li>
            <h2><%= product.name %></h2>
            <p>Precio: <%= product.price %> €</p>
            <p>Tag: <%= product.tags.join(', ') %></p>
            <p>Propietario: <%= product.owner %></p>
            <img src="<%= product.image %>" alt="<%= product.name %>" width="200">
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No se han encontrado productos.</p>
    <% } %>
  </div>

  <!-- Paginación -->
  <div>
    <% if (currentPage > 1) { %>
      <a href="?skip=<%= (currentPage - 2) * limit %>&limit=<%= limit %>&name=<%= searchParams.name %>&priceMin=<%= searchParams.priceMin %>&priceMax=<%= searchParams.priceMax %>&tag=<%= searchParams.tag %>">Anterior</a>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
      <a href="?skip=<%= currentPage * limit %>&limit=<%= limit %>&name=<%= searchParams.name %>&priceMin=<%= searchParams.priceMin %>&priceMax=<%= searchParams.priceMax %>&tag=<%= searchParams.tag %>">Siguiente</a>
    <% } %>
  </div>

<% } else { %> <!-- Si el usuario no está logueado, muestra el siguiente mensaje -->
  <p>Por favor, <a href="/login">inicia sesión</a> para ver los productos.</p>
<% } %>

<%- include('footer.ejs') %>
